form(method="POST", action="")
 input(type="hidden", name="_method", value="PUT")
 p First Name 
  input(type="text", name="first")
 p Last Name 
  input(type="text", name="last")
 p Address 
  input(type="text", name="address")
 p DOB 
  input(type="date", name="dob")
 p Phone 
  input(type="number", name="phone")
 p
  input(type="submit") 